body {
    margin:0px;
    padding:0px;
    background:#fefef0;
}

*{
    font-family: Libre Baskerville;
    text-rendering: optimizeLegibility;
    color:#222;
    line-height:140%;
}

#timeline{
	background:#222;
	position:relative;
	left:200px;
	width:3pt;
	z-index:0;
	margin-bottom:100vh;
}

#you_are_here{
	position:fixed;
	left:160px;
	font-size:55pt;
	z-index:1;
}

#you_are_here div{
	position:absolute;
	top:-40px;
	color:#ccc;
}

#you_are_here div span{
	color:#e10;	
}

.data_point_marker{
	height:2pt;
	background:#222;
	position:absolute;
	left:169px;
	width:31px;
	z-index:0;
}

.data_point_details{
	left:260px;
	position:absolute;	
}

.data_point_date{
	text-align: right;
	left:80px;
	width: 50px;
	display: inline-block;
	position:absolute;
	top:30px;
}

.data_point_text, .data_point_buttons{
	display:none;
}

.data_point_text *, .data_point_buttons *{
	opacity:0;
}

.data_point_text p{
	max-width:590px;
	font-size:13pt;
}

.data_point_text h1{
	color:#333;
	font-weight:400;
	font-style:italic;
	font-size:21pt;
}

.data_point_text span{
	color:#ccc;
	font-size:42pt;
	float:right;
}

.data_point_buttons{
	float:right;
}

.button{
	color:#ccc;
	cursor:pointer;
	margin: 5px;
	display:inline-block;
	font-size:16pt;
	margin-top:25px;
}

.button:hover{
	color:#e10 !important;
}

#direction_buttons{
	position:fixed;
	top:130px;
	left:850px;
	font-size:72pt;
	transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

#direction_buttons div{
	display:inline-block;
	color:#666;
}

#direction_buttons div:hover{
	color:#e10;
	cursor:pointer;
}